# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 150
BinPackParameters: False
BinPackArguments: False
